/Users/hakonjunge/Documents/GitHub/CAB403_Major_Assignment/.vscode
/Users/hakonjunge/Documents/GitHub/CAB403_Major_Assignment/Makefile
/Users/hakonjunge/Documents/GitHub/CAB403_Major_Assignment/.vscode/c_cpp_properties.json
/Users/hakonjunge/Documents/GitHub/CAB403_Major_Assignment/.vscode/launch.json
/Users/hakonjunge/Documents/GitHub/CAB403_Major_Assignment/.vscode/settings.json